

```
1. Create an account on alphavantage.co
2. Get Alphavantage API key
3. Use Alphavantage to run stock market queries
4. Refer to https://www.alphavantage.co/documentation/' for supporting information
5. Fetch the required data using Alphavantage API
```

In [3]:
API_KEY = 'VLDD0642CRZD5EXN'  # Replace with your actual Alpha Vantage API key

In [8]:
import requests
import pandas as pd


BASE_URL = 'https://www.alphavantage.co/query?'

def fetch_stock_data(symbol):
    params = {
        'function': 'TIME_SERIES_DAILY',
        'symbol': symbol,
        'apikey': API_KEY
    }
    response = requests.get(BASE_URL, params=params)
    data = response.json()

    if 'Time Series (Daily)' not in data:
        raise ValueError('Invalid API response. Check symbol or API limits.')

    ts_data = data['Time Series (Daily)']
    return ts_data

def transform_to_dataframe(ts_data):
    df = pd.DataFrame.from_dict(ts_data, orient='index')
    df.columns = ['Open', 'High', 'Low', 'Close', 'Volume']
    df.index = pd.to_datetime(df.index)
    df = df.astype(float)
    df.sort_index(inplace=True)
    return df

# Usage example
if __name__ == "__main__":
    symbol = 'META'  # Example stock symbol
    try:
        raw_data = fetch_stock_data(symbol)
        stock_df = transform_to_dataframe(raw_data)
        print(stock_df)
    except ValueError as e:
        print(f'Error: {e}')

               Open      High       Low   Close      Volume
2025-06-11  703.705  708.8707  691.9900  694.14   9582508.0
2025-06-12  693.300  695.3800  687.0000  693.36   7322730.0
2025-06-13  687.950  694.5700  681.0100  682.87   9274441.0
2025-06-16  699.330  707.1500  693.5103  702.12  13720288.0
2025-06-17  702.000  705.9700  696.0600  697.23  10066110.0
...             ...       ...       ...     ...         ...
2025-10-27  749.730  755.7500  748.0100  750.82  11321080.0
2025-10-28  752.630  758.4000  745.5201  751.44  12193818.0
2025-10-29  754.750  759.1550  742.5100  751.67  26818592.0
2025-10-30  669.150  680.9599  650.1700  666.47  88440094.0
2025-10-31  674.510  674.8900  645.5700  648.35  56953169.0

[100 rows x 5 columns]